.header{
    display: flex;
    justify-content: space-around;
    gap: 200px;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
    padding-top: 5px;

}

.header img{
    height: 65px;
    width: 65px;
    margin-top: 5px;
}

.links a{
    text-decoration: none;
    color: var(--dark-bluish-gray);
    margin-left: 4rem;
    padding-top: 32px;
    font-size: 18px;
}


 .links a.active {
    border-top: 3px var(--dark-bluish-gray) solid;
    transition: all ease-in-out 0.3s;
}


@media screen and (max-width: 768px){

    .header{
        justify-content: space-between;
        margin: 0 1.2rem 0 2.7rem;
        gap: 0;
    }
    
    .links a{
        margin-left: 2rem;
        font-size: 0.9rem;
        padding-top: 27px;

    }

    .header img{
        max-height: 50px;
        max-width: 50px;
    }
}