.firstSectionContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 40%;
    margin: 0 auto 4rem auto;
}

.firstSectionContainer h2{
    margin-bottom: 1.5rem;
}

.firstSectionContainer p{
    font-size: 20px;
    line-height: 2.2rem;
    text-align: center;
}

@media screen and (max-width: 1025px){
    .firstSectionContainer{
        width: 60%;
    }
}

@media screen and (max-width: 1025px){

    .firstSectionContainer{
        width: 600px;
    }
}


@media screen and (max-width: 769px){
    .firstSectionContainer{
        width: 340px;
        margin-top: 2rem;
    }

    .firstSectionContainer p{
        font-size: 18px;
        line-height: 1.8rem;
    }
    .firstSectionContainer h2{
        margin-bottom: 1rem;
        margin-top: 0.5rem;
    }
}

.fadeInElement {
    opacity: 0;
    transition: all 1s ease-in-out;
    transform: translateY(60px);
  }
  
  .fadeInElement.active {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.4s;
  }

